@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 26, 26, 26;
  --background-rgb: 247, 250, 252;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 234, 234, 234;
    --background-rgb: 14, 27, 39;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}
